{% load static %}

<!-- ============= HEADER ============== -->
<header class="header" id="header">
    <div class="header__container">
       <a href="#" class="header__logo">
          <!-- <i class="ri-cloud-fill"></i> -->
          <!-- <span>الموقع الرسمي لفضيلة الشيخ أبي عبد المعز محمد علي فركوس</span> -->
           <div class="logof">
               <!-- <img class="logo1" id="logo1" src="img/1.png" alt="image"> -->
               <img class="logo1" id="logo1" src="{% static 'img/1.png' %}" alt="image">
               <img class="logo2" id="logo2" src="{% static 'img/2.png' %}" alt="image">
           </div>
       </a>
       <div class="header-date">
           <h2>
               الإثنين ٢٦ / ربيع الأوّل / ١٤٤٦
           </h2>
       </div>

       <button class="header__toggle" id="header-toggle">
          <i class="ri-menu-line"></i>
       </button>

       

    </div>
 </header>
 <!-- ============ SIDEBAR ============= -->
 <nav class="sidebar" id="sidebar">
    <div class="sidebar__container">
        <div class="sidebar__user">
            <div class="sidebar__img">
                <img src="{% static 'img/logo.png' %}" alt="image">
            </div>

            <div class="sidebar__info">
                <h5>الموقع الرسمي لفضيلة الشيخ <br>
                     أبي عبد المعز محمد علي فركوس</h5>
                <span>www.ferkous.app</span>
            </div>
        </div>

        <div class="sidebar__content">
            <div>
                <h3 class="sidebar__title">MANAGE</h3>

                <div class="sidebar__list">
                    <a href="{% url 'index' %}" class="sidebar__link {% if request.resolver_match.url_name == 'index' %} active-link {% endif %}">
                        <i class="ri-home-3-line"></i>
                        <span>الصفحة الرئيسية</span>
                    </a>    

                    <a href="{% url 'articles_mois' %}" class="sidebar__link {% if request.resolver_match.url_name == 'articles_mois' %} active-link {% endif %}">
                        <i class="ri-mic-2-line"></i>
                        <span>الكلمات الشهرية</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-book-open-line"></i>
                        <span>أحاديث الأحكام</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-quill-pen-line"></i>
                        <span>الفتاوى</span>
                    </a>
                    
                    <a href="#" class="sidebar__link">
                        <i class="ri-file-copy-2-line"></i>
                        <span>مقالات</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-eraser-line"></i>
                        <span>توضيح إشكالات</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-headphone-line"></i>
                        <span>صوتيات</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-git-repository-line"></i>
                        <span>كتب</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-file-list-3-line"></i>
                        <span>مجلة الإحياء</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-file-paper-2-line"></i>
                        <span>مطويات</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-chat-off-line"></i>
                        <span>افتراءات</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-chat-1-line"></i>
                        <span>ردود و تعقيبات</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-corner-right-up-line"></i>
                        <span>وقائع و توجيهات</span>
                    </a>
                </div>
            </div>

            <div>
                <h3 class="sidebar__title">SETTINGS</h3>
                <div class="sidebar__list">
                    <a href="#" class="sidebar__link">
                        <i class="ri-settings-3-line"></i>
                        <span>Settings</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-mail-unread-line"></i>
                        <span>My Messages</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-notification-3-line"></i>
                        <span>Notifications</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="sidebar__actions">
            <button>
                <i class="ri-moon-line sidebar__link sidebar__theme" id="theme-button">
                    <span>Theme</span>
                </i>
            </button>

            <button class="sidebar__link">
                <i class="ri-logout-box-r-line"></i>
                <span>Log Out</span>
            </button>
        </div>
    </div>
</nav>
 <!-- =========== MAIN ============ -->
